:org.apache.felix.configadmin.revision:=L"1"
pre-upgrade.maintenance.tasks=[ \
  "RevisionCleanupTask", \
  "WorkflowPurgeTask", \
  "com.day.cq.audit.impl.AuditLogMaintenanceTask", \
  "GenerateBundlesListFileTask", \
  ]
service.pid="com.adobe.aem.upgrade.prechecks.mbean.impl.PreUpgradeTasksMBeanImpl"
