:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="1"
queue.name="DAM\ Unzip"
queue.priority="MIN"
queue.retries="0"
queue.topics="com/day/cq/dam/unzip"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~unzip"
