:org.apache.felix.configadmin.revision:=L"1"
cache.on=B"true"
cache.size="2500"
cache.ttl="5000"
provider.roots="/content/usergenerated/asi/mongo"
service.factoryPid="com.adobe.cq.social.datastore.op.impl.SocialMSResourceProviderFactory"
service.pid="com.adobe.cq.social.datastore.op.impl.SocialMSResourceProviderFactory~defaultConfig"
solr.commit="0"
solr.zk.timeout="100"
