:org.apache.felix.configadmin.revision:=L"1"
encryptedPassword="admin"
name="socialpubsync-publishUser"
service.factoryPid="com.adobe.granite.distribution.core.impl.CryptoDistributionTransportSecretProvider"
service.pid="com.adobe.granite.distribution.core.impl.CryptoDistributionTransportSecretProvider~socialpubsync-publishUser"
username="admin"
