:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~tally"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-tally:ugc-writer\=communities-ugc-writer", \
  ]
