:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~usermgrsimpleUser"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-console:service-user-admin\=service-user-admin", \
  ]
