:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~sync"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-sync:user-admin\=communities-user-admin", \
  "com.adobe.granite.distribution.core:socialpubsync-distributionService\=communities-user-admin", \
  "org.apache.sling.distribution.core:socialpubsync-distributionService\=communities-user-admin", \
  ]
