:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~offloading"
user.mapping=[ \
  "com.adobe.granite.offloading.core:jobcloner\=[offloading-jobcloner]", \
  "com.adobe.granite.offloading.core:offloading\=[offloading-service]", \
  "com.adobe.granite.offloading.core:agentmanager\=[offloading-agentmanager]", \
  "com.adobe.granite.offloading.workflow:workflow\=[workflow-service]", \
  ]
