:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~tmpManagerr"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-enablement-impl:tmpmanager\=social-enablement-tmp-manager", \
  ]
