:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~console"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-console:msm-service\=[msm-service,configuration-reader-service,communities-utility-reader]", \
  "com.adobe.cq.social.cq-social-console:index-admin\=[index-admin]", \
  "com.adobe.cq.social.cq-social-console:communities-acl-manager\=communities-acl-manager", \
  "com.adobe.cq.social.cq-social-console:TENANT-SERVICE-USER-NON-PRODUCTION\=[communities-utility-reader]", \
  "com.adobe.cq.social.cq-social-console:communities-analytics-admin\=communities-analytics-admin", \
  "com.adobe.cq.social.cq-social-console:communities-utility-reader\=[communities-utility-reader]", \
  "com.adobe.cq.social.cq-social-console:dam-collection-service\=resourcecollectionservice", \
  "com.adobe.cq.social.cq-social-console:dam-writer\=dam-update-service", \
  ]
