:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~forum"
service.ranking=I"10"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-forum:ugc-reader\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-forum:ugc-writer\=communities-ugc-writer", \
  ]
