:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~commons"
service.ranking=I"10"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-commons:user-reader\=user-reader-service", \
  "com.adobe.cq.social.cq-social-commons:utility-reader\=[communities-utility-reader,msm-service]", \
  "com.adobe.cq.social.cq-social-commons:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-commons:communities-user-admin\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-handlebars:utility-reader\=[communities-utility-reader]", \
  "com.adobe.cq.social.cq-social-commons:index-admin\=[index-admin]", \
  "com.adobe.cq.social.cq-social-commons:msm-service\=[msm-service,configuration-reader-service]", \
  ]
