:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~notifications"
service.ranking=I"10"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-notifications-impl:ugc-reader\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-notifications-impl:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-notifications-impl:subscription-writer\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-notifications-impl:preference-reader\=[index-admin]", \
  "com.adobe.cq.social.cq-social-notifications-impl:notifications-router\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-notifications-channels-web:user-reader\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-notifications-channels-web:msm-service\=[msm-service,configuration-reader-service]", \
  "com.adobe.cq.social.cq-social-notifications-channels-web:ugc-writer\=communities-ugc-writer", \
  ]
