:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~srp"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-srp-impl:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-srp-impl:srp-config-reader\=[configuration-reader-service,communities-srp-config-reader]", \
  ]
