:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~messaging"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-messaging-impl:user-admin\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-messaging-impl:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-messaging-impl:utility-reader\=communities-utility-reader", \
  "com.adobe.cq.social.cq-social-messaging-impl:acl-manager\=communities-acl-manager", \
  ]
