:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~content-fragments-author"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-content-fragments-impl:dam-collection-service\=resourcecollectionservice", \
  "com.adobe.cq.social.cq-social-content-fragments-impl:dam-writer\=dam-update-service", \
  "com.adobe.cq.social.cq-social-content-fragments-impl:communities-utility-reader\=communities-utility-reader", \
  ]
