:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~fd"
user.mapping=[ \
  "com.adobe.aemds.formsmanager.adobe-aemds-formsanddocuments-core\=fd-service", \
  "com.adobe.livecycle.forms.forms-manager.package-bundle\=fd-service", \
  ]
