:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~socialUserUgcManagement"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-user-ugc-management:communities-user-admin\=communities-user-admin", \
  ]
