:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~targeted-content"
user.mapping=[ \
  "com.day.cq.cq-personalization:targeted-content\=[campaign-reader]", \
  "com.day.cq.cq-personalization:personalization-service\=[content-writer-service]", \
  "com.day.cq.cq-personalization:omnisearch-service\=[omnisearch-service]", \
  ]
