:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~ugc"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-ugc-search-collections:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-ugcbase-impl:ugc-writer\=communities-ugc-writer", \
  "com.adobe.cq.social.cq-social-ugcbase-impl:utility-reader\=communities-utility-reader", \
  "com.adobe.cq.social.cq-social-ugcbase-impl:srp-config-reader\=[configuration-reader-service,communities-srp-config-reader]", \
  "com.adobe.cq.social.cq-social-ugcbase-impl:user-admin\=communities-user-admin", \
  ]
