:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~screens"
user.mapping=[ \
  "com.adobe.cq.screens.com.adobe.cq.screens.dcc:omnisearch-service\=[omnisearch-service]", \
  "com.adobe.cq.screens.com.adobe.cq.screens:author-publish-screens-service\=[author-publish-screens-service]", \
  "com.adobe.cq.screens.com.adobe.cq.screens:bulk-offline-update-screens-service\=[bulk-offline-update-screens-service]", \
  "com.adobe.cq.screens.com.adobe.cq.screens:monitoring-screens-service\=[monitoring-screens-service]", \
  "com.adobe.cq.screens.com.adobe.cq.screens:screens-group-admin-service\=[screens-group-admin-service]", \
  ]
