:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~group"
service.ranking=I"0"
user.mapping=[ \
  "com.adobe.cq.social.cq-social-group:user-admin\=communities-user-admin", \
  "com.adobe.cq.social.cq-social-group:msm-service\=[msm-service,configuration-reader-service,communities-utility-reader]", \
  "com.adobe.cq.social.cq-social-group:acl-manager\=communities-acl-manager", \
  "com.adobe.cq.social.cq-social-group:communities-user-admin\=communities-user-admin", \
  ]
