:org.apache.felix.configadmin.revision:=L"1"
details="Publish\ agent\ to\ push\ data\ from\ author\ to\ publishers"
enabled=B"true"
name="publish"
packageImporter.endpoints=[ \
  "endpoint0\=http://localhost:4503/libs/sling/distribution/services/importers/default", \
  ]
queue.processing.enabled=B"true"
service.factoryPid="org.apache.sling.distribution.agent.impl.ForwardDistributionAgentFactory"
service.pid="org.apache.sling.distribution.agent.impl.ForwardDistributionAgentFactory~publish"
title="Publish\ Agent"
