:org.apache.felix.configadmin.revision:=L"1"
details="Coordinating\ agent\ to\ synchronize\ social\ data\ between\ publishers"
enabled=B"false"
name="socialpubsync"
packageBuilder.target="(name\=socialpubsync-vlt)"
packageExporter.endpoints=[ \
  "http://localhost:4503/libs/sling/distribution/services/exporters/socialpubsync-reverse", \
  ]
packageImporter.endpoints=[ \
  "http://localhost:4503/libs/sling/distribution/services/importers/socialpubsync", \
  ]
requestAuthorizationStrategy.target="(|(name\=privilegeReplicate)(name\=default))"
service.factoryPid="org.apache.sling.distribution.agent.impl.SyncDistributionAgentFactory"
service.pid="org.apache.sling.distribution.agent.impl.SyncDistributionAgentFactory~socialpubsync"
serviceName="socialpubsync-distributionService"
title="Social\ Publisher\ Sync"
transportSecretProvider.target="(name\=socialpubsync-publishUser)"
triggers.target="(name\=socialpubsync-scheduled-trigger)"
useMultipleQueues=B"true"
