:org.apache.felix.configadmin.revision:=L"1"
README="Mobile\ Emulator\ available\ for\ these\ page\ types."
mobile.resourceTypes=[ \
  "fd/af/themes/components/themesui", \
  "fd/af/components/page/base", \
  "fd/af/components/page2/aftemplatedpage", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~exampletemplateconfig"
