:org.apache.felix.configadmin.revision:=L"1"
README="Use\ these\ configuration\ settings\ to\ indicate\ which\ resource\ types\ should\ be\ supported\ by\ the\ mobile\ emulators."
mobile.resourceTypes=[ \
  "/libs/social/console/components/basepage", \
  "social/console/components/basepage", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~soicalconsole"
