:org.apache.felix.configadmin.revision:=L"1"
attachmentTypeBlacklist=[ \
  ".ade", \
  ".adp", \
  ".app", \
  ".asa", \
  ".asp", \
  ".bas", \
  ".bat", \
  ".cer", \
  ".chm", \
  ".cmd", \
  ".com", \
  ".cpl", \
  ".crt", \
  ".csh", \
  ".dll", \
  ".exe", \
  ".fxp", \
  ".hlp", \
  ".hta", \
  ".htm", \
  ".html", \
  ".htr", \
  ".inf", \
  ".ins", \
  ".isp", \
  ".its", \
  ".js", \
  ".jse", \
  ".ksh", \
  ".lnk", \
  ".mad", \
  ".maf", \
  ".mag", \
  ".mam", \
  ".maq", \
  ".mar", \
  ".mas", \
  ".mat", \
  ".mau", \
  ".mav", \
  ".maw", \
  ".mda", \
  ".mdb", \
  ".mde", \
  ".mdt", \
  ".mdw", \
  ".mdz", \
  ".mht", \
  ".mhtm", \
  ".mhtml", \
  ".msc", \
  ".msi", \
  ".msp", \
  ".mst", \
  ".ocx", \
  ".ops", \
  ".pcd", \
  ".pif", \
  ".prf", \
  ".prg", \
  ".reg", \
  ".scf", \
  ".scr", \
  ".sct", \
  ".shb", \
  ".shs", \
  ".tmp", \
  ".url", \
  ".vb", \
  ".vbe", \
  ".vbs", \
  ".vbx", \
  ".vsmacros", \
  ".vss", \
  ".vst", \
  ".vsw", \
  ".ws", \
  ".wsc", \
  ".wsf", \
  ".wsh", \
  ".xsl", \
  ]
inbox.path="/mail/community/inbox"
maxTotalAttachmentSize=L"104857600"
sentitems.path="/mail/community/sent"
service.factoryPid="com.adobe.cq.social.messaging.client.endpoints.impl.MessagingOperationsServiceImpl"
service.pid="com.adobe.cq.social.messaging.client.endpoints.impl.MessagingOperationsServiceImpl~social-console"
serviceSelector="/bin/community"
supportAttachments=B"true"
