:org.apache.felix.configadmin.revision:=L"1"
README="Activates\ the\ layouting\ functionality\ for\ screens"
mobile.resourceTypes=[ \
  "screens/core/components/multiscreenchannel", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~screens-channels.config"
