:org.apache.felix.configadmin.revision:=L"1"
resource.resolver.log.unclosed=B"false"
resource.resolver.manglenamespaces=B"true"
resource.resolver.mapping=[ \
  "/-/", \
  ]
resource.resolver.searchpath=[ \
  "/apps", \
  "/libs", \
  ]
resource.resolver.vanitypath.blacklist=[ \
  "/content/usergenerated", \
  ]
resource.resolver.vanitypath.whitelist=[ \
  "/apps/", \
  "/libs/", \
  "/content/", \
  ]
service.pid="org.apache.sling.jcr.resource.internal.JcrResourceResolverFactoryImpl"
