com.adobe.granite.apicontroller.FilterResolverHookFactory="launchpad:resources/install/2/com.adobe.granite.apicontroller-1.0.4.jar"
com.adobe.granite.auth.ims="launchpad:resources/install/20/com.adobe.granite.auth.ims-1.2.8.jar"
com.day.cq.mailer.DefaultMailService="launchpad:resources/install/20/cq-mailer-5.14.2.jar"
com.day.cq.wcm.core.impl.LinkCheckerSettingsProviderImpl="launchpad:resources/install/20/cq-wcm-core-5.12.90.jar"
org.apache.aries.jmx.framework.StateConfig="launchpad:resources/install/2/org.apache.aries.jmx.core-1.1.5.jar"
org.apache.felix.eventadmin.impl.EventAdmin="launchpad:resources/install/4/org.apache.felix.eventadmin-1.5.0.jar"
org.apache.felix.http="launchpad:resources/install/5/org.apache.felix.http.jetty-4.0.8.jar"
org.apache.felix.jaas.Configuration.factory~GuestLoginModule="launchpad:resources/install.crx3/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~LoginModuleImpl="launchpad:resources/install.crx3/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~TokenLoginModule="launchpad:resources/install.crx3/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.ConfigurationSpi="launchpad:resources/install.crx3/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.sling.commons.log.LogManager="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~access.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~asyncjssightly="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~audit.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~auditlog.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~history.config="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~request.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.config~upgrade.config="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.writer~access.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.writer~audit.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.writer~request.log="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.log.LogManager.factory.writer~upgrade.config="slinginstall:D:\\MyWorkSpace\\project-Template\\AEM-Study\\backend\\sling\\startup\\1\\org.apache.sling.commons.log-5.1.10.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~cq-polling-importer="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.18.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~oak="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.18.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~oak-observation="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.18.jar"
