:org.apache.felix.configadmin.revision:=L"1"
cache.on=B"true"
cache.size="2500"
cache.ttl="5000"
port="80"
provider.query.languages="MONGOQUERY"
provider.roots="/content/usergenerated/asi/cloud"
service.factoryPid="com.adobe.cq.social.datastore.as.impl.ASResourceProviderFactory"
service.pid="com.adobe.cq.social.datastore.as.impl.ASResourceProviderFactory~defaultConfig"
version.id="v1"
