:org.apache.felix.configadmin.revision:=L"1"
action="pull"
name="socialpubsync-scheduled-trigger"
seconds="30"
service.factoryPid="org.apache.sling.distribution.trigger.impl.ScheduledDistributionTriggerFactory"
service.pid="org.apache.sling.distribution.trigger.impl.ScheduledDistributionTriggerFactory~socialpubsync-scheduled-trigger"
